  <section class="about section" id="about">
    <div class="about__container container grid">
      <div class="about__data">
        <h2 class="section__title about__title">
          Más información <br> Acerca de las mejores playas
        </h2>
        <p class="about__description">
          Puedes encontrar los sitios más hermosos y placenteros a los mejores precios con descuentos especiales, tu eliges el lugar y nosotros vamos a guiarte todo el camino, obtén tu lugar ahora.
        </p>
        <a href="#" class="button">Reserva un lugar</a>
      </div>

      <div class="about__img">
        <div class="about__img-overlay">
          <img src="assets/img/about1.jpg" alt="" class="about__img-one">
        </div>

        <div class="about__img-overlay">
          <img src="assets/img/about2.jpg" alt="" class="about__img-two">
        </div>
      </div>
    </div>
  </section>
