<main class="main" (scroll)="onScroll($event)">
  <!--Home Section-->
  <section class="home" id="home">
    <img src="assets/img/home1.jpg" class="home__img" alt="">

    <div class="home__container container grid">
      <div class="home__data">
        <span class="home__data-subtitle">Descubre tu lugar</span>
        <h1 class="home__data-title">
          Explora las <br> Mejores <b>Hermosas <br> Playas</b>
        </h1>
        <a routerLink="#" class="button">Explorar</a>
      </div>

      <div class="home__social">
        <a href="https://es-la.facebook.com/" target="_blank" class="home__social-link">
          <i class="ri-facebook-box-fill"></i>
        </a>

        <a href="https://www.instagram.com/?hl=es" target="_blank" class="home__social-link">
          <i class="ri-instagram-fill"></i>
        </a>

        <a href="https://twitter.com/?lang=es" target="_blank" class="home__social-link">
          <i class="ri-twitter-fill"></i>
        </a>
      </div>

      <div class="home__info">
        <div>
          <span class="home__info-title">5 mejores sitios para visitar</span>
          <a routerLink="#" class="button button--flex button--link home__info-button">
            Ver Mas <i class="ri-arrow-right-line"></i>
          </a>
        </div>

        <div class="home__info-overlay">
          <img src="assets/img/home2.jpg" class="home__info-img" alt="">
        </div>
      </div>
    </div>
  </section>

  <!--About Section-->
  <app-about></app-about>

  <!--Discover Section-->
  <app-discover></app-discover>

  <!--Experience Section-->
  <app-experience></app-experience>

</main>
