<section class="video section">
  <h2 class="section__title">Video Tour</h2>

  <div class="video__container container">
    <p class="video__description">
      Encuentra mas con nuestro video de los mas hermosos y placenteros sitios para ti y tu familia
    </p>

    <div class="video__content">
      <video id="video-file" #videoFile>
        <source src="assets/video/video.mp4" type="video/mp4">
      </video>

      <button class="button button--flex video__button"
              id="video-button"
              #videoButton
              (click)="playPause(videoFile,videoIcon)">
        <i class="ri-play-line video__button-icon"
           id="video-icon"
           #videoIcon></i>
      </button>
    </div>
  </div>
</section>
