<section class="subscribe section">
  <div class="subscribe__bg">
    <div class="subscribe__container container">
      <h2 class="section__title subscribe__title">
        Suscribete a nuestro <br> Boletín informativo
      </h2>

      <p class="subscribe__description">
        Suscribete a nuestro boletín informativo y recibe un descuento especial de un 30%
      </p>

      <form action="" class="subscribe__form">
        <input type="text" placeholder="Ingresar email" class="subscribe__input">
        <button class="button">Suscribirse</button>
      </form>
    </div>
  </div>

</section>
