<footer class="footer section">
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <div class="footer__data">
        <h3 class="footer__title">Travel</h3>
        <p class="footer__description">
          Travel, tu eliges el <br> destino, nosotros te ofrecemos la <br> experiencia
        </p>

        <div>
          <a href="https://www.facebook.com/" target="_blank" class="footer__social">
            <i class="ri-facebook-box-fill"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" class="footer__social">
            <i class="ri-twitter-fill"></i>
          </a>
          <a href="https://www.instagram.com/" target="_blank" class="footer__social">
            <i class="ri-instagram-fill"></i>
          </a>
          <a href="https://www.youtube.com/" target="_blank" class="footer__social">
            <i class="ri-youtube-fill"></i>
          </a>
        </div>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">Acerca de</h3>

        <ul>
          <li class="footer__item">
            <a href="#" class="footer_link">Nosotros</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer_link">Características</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer_link">Blog</a>
          </li>
        </ul>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">Empresa</h3>

        <ul>
          <li class="footer__item">
            <a href="#" class="footer_link">Equipo</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer_link">Plan y Precios</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer_link">Sé un miembro</a>
          </li>
        </ul>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">Soporte</h3>

        <ul>
          <li class="footer__item">
            <a href="#" class="footer_link">FAQs</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer_link">Centro de Soporte</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer_link">Contáctanos</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__rights">
      <p class="footer__copy">&#169; 2021. All Rights Reserved</p>
      <div class="footer__terms">
        <a href="" class="footer__terms-link">Términos y Condiciones</a>
        <a href="" class="footer__terms-link">Política de Privacidad</a>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="scrollup" id="scroll_up" #scroll_up>
  <i class="ri-arrow-up-line scrollup-icon"></i>
</a>

